<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->
 
<!-- Название у нас будет proudcts -->
{% block title %}
Post
{% endblock title %}
 
<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h5>   {{ post.get_categoryType_display }} </h5>
<h1>{{ post.title|censor }}</h1>
<h5>   {{ post.author }} </h5>
<h> Время публикации: {{ post.dateCreation|date:'d-m-Y, H:m' }} </h>
<hr>
<h>{{ post.text|censor }} </h>

{% endblock content %}